/* Colour Palette 
darkest navy:    #22223B;
medium navy:     #4A4E69;
mauve:           #9A8C98;
millennial pink: #C9ADA7;
palest pink:     #F2E9E4;
*/


/* Typography & Universal Styles */

body {
    color: #22223B;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    text-transform: uppercase;
}

ul, li {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: #4A4E69;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: 1280px;
    margin: auto;
}

/* Navigation */

h1, a {
    color: #F2E9E4;
}

/* Hero Banner */


.btn {
    background-color: #C9ADA7;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
}

/* Cards */


/* Footer Styles */


/* Media Queries */

@media screen and (min-width: 800px) {

}